.search__container {
	margin-top: 100px;
	padding: 0px 32px;
}

.search__container__input {
	font-size: 64px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.4);
	text-align: left;
	border: none;
}

.search__container__input:focus {
	outline: none;
}

.search__container__input:valid {
	color: white;
}
